* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

h1 {
	font-family: 'Times New Roman', Times, serif;
	font-size: 32px;
	font-weight: bold;
	position: fixed;
	margin-top: 3.125vh;
    margin-left: 3.125vw;
}