@import './variables';

.header {
    background-color: $pantoneOrange021C;
    padding: 0 16px;
    height: 512px;
    .header__title {
        font-size: 64px;
        line-height: 1;
        font-weight: bold;
    }
    .header__description {
        margin-top: 16px;
        font-weight: bold;
    }
}