@import './variables';

.header {
    padding: 0 8px;
    position: absolute;
}

.header__top {
    padding-top: 8px;
    .top__title {
        font-weight: bold;
        font-size: 32px;
    }
    .top__description {
        margin-top: 16px;
        font-weight: bold;
    }
    .top__contact {
        margin-top: 4px;
    }
}
